**/experimental/.*
**/experimental/*.mod
**/experimental/*.mod.c
**/experimental/*.mod
**/experimental/modules.order
**/experimental/Module.symvers
**/experimental/*.ko
**/experimental/*.mod.o
**/experimental/*.o

**/kmodule/.*
**/kmodule/*.mod
**/kmodule/*.mod.c
**/kmodule/*.mod
**/kmodule/modules.order
**/kmodule/Module.symvers
**/kmodule/*.ko
**/kmodule/*.mod.o
**/kmodule/*.o

*.o