**/experimental/.*
**/experimental/*.mod
**/experimental/*.mod.c
**/experimental/*.mod
**/experimental/modules.order
**/experimental/Module.symvers
**/experimental/*.ko
**/experimental/*.mod.o
**/experimental/*.o

**/kmodule/.*
**/kmodule/*.mod
**/kmodule/*.mod.c
**/kmodule/*.mod
**/kmodule/modules.order
**/kmodule/Module.symvers
**/kmodule/*.ko
**/kmodule/*.mod.o
**/kmodule/*.o

**/sysinter/.*
**/sysinter/*.mod
**/sysinter/*.mod.c
**/sysinter/*.mod
**/sysinter/modules.order
**/sysinter/Module.symvers
**/sysinter/*.ko
**/sysinter/*.mod.o
**/sysinter/*.o

**/lib/test/*.bin

**/lib/src/*.mod
**/lib/src/.*.cmd

.DS_Store
.idea
client
server

*.o
